<section id="projects" class="projects-section">
  <div class="container">
    <h2
      class="section-title"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="linear"
      data-aos-duration="600"
    >
      <span class="bold">MY</span> <span class="green">PROJECTS</span>
    </h2>
    <ul class="projects-list" id="projectsList">
      <!-- JS content -->
    </ul>
    <button
      class="load-more"
      id="loadMoreBtn"
      data-aos="fade-up"
      data-aos-anchor-placement="bottom-bottom"
      data-aos-easing="linear"
      data-aos-duration="600"
    >
      LOAD MORE
    </button>
  </div>
</section>
