.hero-area {
  position: relative;
  background-image: url(../img/webp/m-hero-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 704px;
  z-index: 2;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero-area {
    background-image: url(../img/webp/m-hero-bg@2x.webp);
  }
}

.hero-title {
  padding-top: 96px;
  margin-bottom: 40px;
}

.hero-photo {
  display: none;
}

.hero-accent {
  color: var(--accet-green);
}

.hero-icon {
  fill: var(--accet-green);
  align-items: center;
  margin-right: 8px;
  transition: all 300ms ease-in-out;
}

.hero-btn {
  display: flex;
  position: relative;
  align-items: center;
  background: none;
  border: none;

  &::after {
    position: absolute;
    left: 131px;

    content: '';
    display: block;
    border-radius: 16px;
    width: 176px;
    height: 92px;
    /* background-color: var(--hover-green); */
    background-color: light-dark(var(--hover-green), var(--light-accet));
    z-index: -1;
    transition: all 200ms ease-in-out;
  }

  &:hover::after,
  &:focus-within::after {
    background: light-dark(var(--accet-green), var(--accet-green-dt));
  }

  &:hover .hero-icon,
  &:focus-within .hero-icon {
    animation: btn-swipe 1200ms linear infinite;
  }

  &:hover .hero-link,
  &:focus-within .hero-link {
    translate: 98px;
    color: var(--white);

    @media screen and (width < 360px) {
      translate: 78px;
    }

    @media screen and (width >= 768px) {
      translate: 120px;
    }
  }

  @media screen and (width < 360px) {
    &::after {
      left: 101px;
      width: 156px;
    }
  }
  @media screen and (width >= 768px) {
    &::after {
      width: 261px;
      height: 96px;
    }
  }

  @media screen and (width >= 1280px) {
    padding-right: 167px;
    margin-left: 72px;
    &::after {
      top: 0;
    }
  }
}

.hero-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;

  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: light-dark(var(--white));

  transition: all 300ms linear;

  @media screen and (width < 360px) {
    font-size: 12px;
  }

  @media screen and (width >= 768px) {
    font-size: 20px;
    line-height: 1.6;
  }
}

.hero-descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 56px;
}

.hero-media-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--light-grey);
  padding-top: 32px;
  padding-bottom: 32px;
}

.dark .hero-media-list {
  background-color: var(--charcoal-dt);
}

.hero-media-link {
  font-family: var(--font-family);
}

.hero-media-link:hover,
.hero-media-link:focus {
  color: var(--accet-green);
}

@media screen and (min-width: 768px) {
  .hero-area {
    background-image: url(../img/webp/t-hero-bg.webp);
    background-size: 704px 896px;
  }

  .hero-title {
    font-weight: 400;
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
    margin-bottom: 60px;
  }

  /* .hero-btn {
    width: 320px;
    height: 92px;
  } */

  .hero-link {
    font-size: 20px;
    line-height: 160%;
  }

  .hero-link::after {
    width: 261px;
    height: 96px;
  }

  .hero-descr {
    font-size: 20px;
    line-height: 160%;
  }

  .hero-media-list {
    flex-direction: row;
    gap: 40px;
    padding: 40px 146px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-area {
    background-image: url(../img/webp/t-hero-bg@2x.webp);
  }
}

@media screen and (min-width: 1280px) {
  .hero-area {
    position: relative;
    background-image: url(../img/webp/d-hero-bg.webp);
    background-size: 1216px 772px;
  }

  .hero-title {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .hero-photo {
    display: block;
    width: 108px;
    height: 108px;
    margin-left: 40px;
  }

  .hero-info {
    display: flex;
    gap: 136px;
    align-items: center;
    margin-bottom: 116px;
  }

  .hero-btn {
    margin-left: 72px;
    width: 416px;
    height: 96px;
  }

  .hero-descr {
    width: 592px;
  }

  .hero-media-list {
    padding: 40px 402px;
  }
}

@media screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .hero-area {
    background-image: url(../img/webp/d-hero-bg@2x.webp);
  }
}
