.rollup {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00b068;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  outline: none;
}

/* Dark theme */
.dark .rollup {
  background-color: #14c57c;
}

.rollup:hover,
.icon-arrow-up:focus {
  background-color: #009156;
}

/* Dark theme */
.dark .rollup:hover,
.dark .rollup:focus {
  background-color: #009156;
}

.rollup.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon-arrow-up {
  stroke: var(--white);
  fill: none;
  transform: rotate(-45deg);
}
